body {background-color:  #f2e6ff;
font-family: sans-serif;
font-size: 16px;
padding: 25px;
margin left: : auto;
margin-right: auto;
margin-top: 25px;
display: block;
width: 550px;
min-height: 200px;
}

napis {
font size: 50px;
display: block;
margin auto;
}
imie {
	font-size: 24px;
	position: top left;
	display: block;
	margin-left: 400px;
}
nazwisko {font-size: 24px;
display: block;
margin-left: 400px;}
adres {display: block;
margin-left: 400px;}
kod {display: block;
margin-left: 400px;}
miasto {margin-left: 400px;}
user {display: block;}
users {display: block;}
telefon {margin-left: 400px;}
user {display: block;}
